<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/dell/IdeaProjects/Session4Task">
        <parameter name="username" value="user1"/>
        <parameter name="password" value="password1"/>
        <classes>
            <class name="ParameterizedTest"/>
        </classes>
    </test>
</suite>